@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Welcome to the Enterprise Resource Management System</h1>
    <br />
    <h3>PROG36944 Capstone Project by Sarah McCrie</h3>
</div>
