@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Enterprise Resource Management System</h1>
    <h2 class="display-4">Capstone Project for PROG36944 by Sarah McCrie</h2>
</div>
